@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #000;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.wrapper {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}



h1 {
	color: #FFF;
	font-size: 36px;
	font-weight: 500;
	text-transform: uppercase;
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

h4,
span {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

span {
	color: #EC7979;
}

fieldset input {
	min-height: 38px;
	border: none;
	border-bottom: 1px solid #BDBDBD;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
}

fieldset input::placeholder,
.contact-form textarea::placeholder {
	color: #BDBDBD;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	transform: translateX(-5px) translateY(-10px);
	opacity: 1;
	transition: all 300ms;
}

fieldset input:focus::placeholder,
.contact-form textarea:focus::placeholder {
	opacity: 0;
}

fieldset input:focus,
.contact-form textarea:focus {
	border-radius: 5px;
	border: 1px solid #BDBDBD;
	outline: none;
}

input[type=submit] {
	color: #FFF;
	text-align: center;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	background-color: #EC7979;
	padding: 20px 0;
}

input[type=submit]:hover {
	background-color: #AB4949;
}

input[type=submit]:active {
	box-shadow: 0px 0px 10px 0px #AB4949 inset;
	background-color: #EC7979;
}

.section-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-title p {
	color: #86878B;
}

.separator {
	width: 143px;
	height: 1px;
	background-color: #EC7979;
	margin-top: 46px;
	margin-bottom: 32px;
}

.separator--color {
	background-color: #ffffff;
}

.separator--margin {
	margin-top: 41.49px;
	margin-bottom: 31px;
}

header {
	background-color: #000;
	background-color: #005d06;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

.features,
.about,
.pricing,
.reviews,
.contact {
	scroll-margin-top: 75px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	max-width: 86.8px;
	min-width: 64.81px;
}

.site-nav {
	display: none;
}

/* .site-nav-mobile {

} */

.site-nav__item a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	width: 113px;

	padding: 28px 0;
}

.site-nav__item a:hover {
	background-color: #EC7979;
}

.site-nav__item a:active {
	background-color: #AB4949;
}

.features {
	background: rgba(0, 0, 0, 0.50);
	background-blend-mode: overlay;
	background-image: url(../img/bg-img-features.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 229.05px;
	padding-bottom: 106px;
}

.features-content {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 36.36px;
	flex-wrap: wrap;
}

.features-title {
	display: flex;
	flex-direction: column;
	width: 454.358px;
}

.features-title img {
	width: 115.285px;
	margin-bottom: 54.08px;
}

.features-title p {
	color: #FFF;
	width: 183.099px;
	margin-bottom: 31.32px;
}

.btn-download a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 231.87px;
	padding: 16.5px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FFF;
}

.btn-download--features a {
	border: 2px solid #FFF;
	width: 183.1px;
}

.btn-download--features a:hover {
	color: #EC7979;
	border: 2px solid #EC7979;
}

.btn-download--features a:active {
	color: #FFF;
	border: 2px solid #AB4949;
	background: #AB4949;
}

.title-form h4,
span {
	text-transform: uppercase;
}

fieldset {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
	border: none;
}

.title-form {
	display: flex;
	flex-direction: column;
	gap: 77px;
	text-align: center;
	position: relative;
	top: -17.05px;
	background-color: #ffffff;
	border-radius: 10px;
	width: 398px;
	height: 450px;
	padding: 33px 50px 0 50px;
}

.title-form input[type=submit] {
	position: absolute;
	bottom: 0;
	left: 0;
	border: none;
	border-radius: 0 0 10px 10px;
	width: 100%;
}

.social-media {
	padding-top: 12px;
	padding-bottom: 13px;
	background-color: #F8EFEF;
}

.social-media__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}

.social-media__title {
	display: flex;
	flex-direction: column;
	gap: 23px;
	width: 402px;
}

.social-media__title p {
	color: #86878B;
}

.social-media__icon {
	display: flex;
	justify-content: center;
	gap: 17px;
	flex-wrap: wrap;
}

.social-media__icon img {
	width: 26px;
}

.about {
	padding-top: 50px;
	padding-bottom: 60px;
}

.tabs-navigation {
	display: flex;
	margin-bottom: -1px;
}

.tabs-navigation__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 172px;
}

.tabs-navigation__item--active {
	border: 1px solid #C6CBCD;
	border-bottom: 0;
	border-radius: 5px 5px 0px 0px;
	background-color: #FFF;
}

.tabs-navigation a {
	width: 70px;
	padding: 10px 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.tabs-content {
	display: flex;
	justify-content: flex-end;
	gap: 26.21px;
	border: 1px solid #C6CBCD;
	margin-bottom: 96px;
}

.tabs-content__abut-tabs {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 482.89px;
}

.tabs-content__abut-tabs p {
	flex-grow: 1;
}

.tabs-content__abut-tabs h3 {
	margin-top: 28px;
	margin-bottom: 66px;
}

.btn-download--about a {
	background-color: #EC7979;
	border: none;
	margin-top: 27px;
	margin-bottom: 54px;
}

.btn-download--about a:hover {
	background-color: #AB4949;
}

.btn-download--about a:active {
	background-color: #EC7979;
	box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.tabs-content__img img {
	display: none;
	max-width: 398.21px;
}

.awesome-advantages {
	display: flex;
	gap: 20px;
	margin-top: 65.72px;
	flex-wrap: wrap;
}

.awesome-advantages__item {
	width: 100%;
	text-align: center;
}

.awesome-advantages__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 79.55px;
	height: 79.55px;
	border-radius: 50%;
	border: 1px solid #EC7979;
	margin: 0 auto;
	margin-bottom: 62.72px;
}

.awesome-advantages__icon img {
	transform: scale(0.9);
}

.awesome-advantages__item h4 {
	margin-bottom: 37px;
}

.pricing {
	padding-top: 96px;
	padding-bottom: 50px;
	background-color: #F5F5F5;
}

.pricing-card {
	display: flex;
	gap: 20px;
	margin-top: 49.74px;
	flex-wrap: wrap;
}

.pricing-card__item {
	border: 2px solid #F5F5F5;
	width: 100%;
}

.pricing-card__item:hover {
	position: relative;
	bottom: 17.74px;
	box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.20);
}

.pricing-card li {
	background-color: #FFF;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 11.34px;
}

.pricing-card li:not(:last-child) {
	border-bottom: 2px solid #F5F5F5;
}

.pricing-card li:nth-child(1n+1):not(:nth-child(1n+4)) {
	background-color: #333;
	color: #FFF;
}

.pricing .pricing-card li:nth-child(1n+3) {
	color: #86878B;
	font-size: 18px;
}

.pricing-card li:nth-child(1) {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10.21px;
}

.pricing-card li:nth-child(2) {
	font-size: 36px;
	font-weight: 700;
	padding-top: 23px;
	padding-bottom: 23.68px;
}

.reviews {
	padding-top: 96px;
	padding-bottom: 57px;
}

.reviews-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 32px;
}

.reviews-list__item {
	width: 100%;
}

.reviews-list__text {
	background-color: #E2E2E2;
	border-radius: 10px;
	padding: 50px 32px;
	margin-bottom: 66px;
	text-align: center;
	position: relative;
}

.reviews-list__text::before {
	position: absolute;
	content: "";
	left: 59.97px;
	bottom: -20px;
	width: 0;
	height: 0;
	border: 20px solid #E2E2E2;
	border-top-color: #E2E2E2;
	border-top-width: 30px;
	border-bottom-width: 0;
	border-left-color: transparent;
	border-right-color: transparent;
	z-index: -1;
}

.reviews-list__text p {
	color: #86878B;
}

.reviews-list__customer {
	display: flex;
	align-items: center;
	gap: 22.54px;
}

.customer-avatar img {
	width: 63px;
	height: 63px;
	border-radius: 50%;
	object-fit: cover;
	position: relative;
	top: 0;
}

.customer-name {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.design,
.contacts {
	padding-top: 96px;
	padding-bottom: 50px;
}

.design {
	background-color: rgba(0, 0, 0, 0.50);
	background-blend-mode: overlay;
	background-image: url(../img/bg-reviews.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.design h2,
.design p {
	color: #FFF;
}

.design .btn-download a{
	width: 318px;
	margin-top: 32px;
}

.contact-form {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	margin-top: 72px;
}

.contact-form fieldset,
.contact-form textarea {
	width: calc((100% - 20px) / 2);
}

.contact-form textarea {
	border: none;
	border-bottom: 1px solid #BDBDBD;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.contact-form textarea::placeholder {
	transform: translateY(-5px);
}

.contact-form input[type="submit"] {
	width: 318px;
	border: none;
	margin-top: 30px;
	font-size: 18px;
	padding-top: 17px;
	padding-bottom: 16px;
}

footer {
	background-color: #000;
	padding-top: 35px;
	padding-bottom: 30px;
}

.copyright-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 17px;
	flex-wrap: wrap;
}

.copyright-content p {
	color: rgba(255, 255, 255, 0.50);
}

.copyright-content img {
	width: 26px;
}