@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #000;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

header {
	background-color: #000;
	padding-top: 22.46px;
	padding-bottom: 21.85px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.logo {
	max-width: 86.8px;
	flex-shrink: 0.3;
}

.logo img {
	width: 100%;
}

.site-nav {
	display: flex;
	width: 570px;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}

.site-nav__item a {
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
}

.about {
	padding-top: 99px;
	padding-bottom: 58px;
}

.pricing {
	padding-top: 104px;
	padding-bottom: 50px;
	background-color: #F5F5F5;
}

.wrapper {
	max-width: 1200px;
	/* max-width: 1054px; */
	/* width: 350px; */
	padding: 0 15px;
	margin: 0 auto;
}

h2 {
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.tabs-navigation {
	display: flex;
	justify-content: flex-start;
	margin-bottom: -1px;
}

.tabs-navigation__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 203px;
}

.tabs-navigation__item--active {
	border: 1px solid #C6CBCD;
	border-bottom: 0;
	border-radius: 5px 5px 0px 0px;
	background-color: #FFF;
}

.tabs-navigation a {
	width: 70px;
	padding: 10px 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.tabs-content {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 15px;
	border: 1px solid #C6CBCD;
	margin-bottom: 104px;
}

.tabs-content__abut-tabs {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 600px;
	padding: 0 15px;
}

.tabs-content__abut-tabs p {
	flex-grow: 1;
}

.tabs-content__abut-tabs h3 {
	margin-top: 42px;
	margin-bottom: 68px;
}

.tabs-content__abut-tabs a {
	display: block;
	width: 270px;
	text-align: center;
	padding: 17px 0;
	color: #FFF;
	background-color: #EC7979;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-top: 27px;
	margin-bottom: 54px;
}

.tabs-content__img {
	max-width: 470px;
}

.tabs-content__img img {
	display: block;
	width: 100%;
}

.separator {
	width: 170px;
	height: 1px;
	background-color: #EC7979;
	margin: 54px auto 40px auto;
}

.awesome-title > p {
	margin-bottom: 110px;
	text-align: center;
}

.awesome-advantages,
.pricing-card {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	width: 100%;
}

.awesome-advantages__item,
.pricing-card ul {
	width: 370px;
}

.awesome-advantages__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 92px;
	height: 92px;
	border-radius: 50%;
	border: 1px solid #EC7979;
	margin: 0 auto;
	margin-bottom: 73px;
}

.awesome-advantages__item h4 {
	margin-bottom: 41px;
	text-align: center;
}

.awesome-advantages__item p,
.pricing-title p {
	text-align: center;
}

.pricing-title p {
	margin-bottom: 79px;
}

.pricing-card li {
	background-color: #FFF;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 14px;
}

.pricing-card ul {
	border: 2px solid #F5F5F5;
}

.pricing-card li:not(:last-child) {
	border-bottom: 2px solid #F5F5F5;
}

.pricing-card li:nth-child(1n+1):not(:nth-child(1n+4)) {
	background-color: #333;
	color: #FFF;
}

.pricing .pricing-card li:nth-child(1n+3) {
	color: #86878B;
}

.pricing-card li:nth-child(1) {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	padding-top: 14px;
	padding-bottom: 13px;
}

.pricing-card li:nth-child(2) {
	font-size: 36px;
	font-weight: 700;
	padding: 29px 0;
}

.pricing-card ul:hover {
	position: relative;
	bottom: 20px;
	box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.20);
}