@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #000;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.wrapper {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

h1 {
	color: #FFF;
	font-size: 48px;
	font-weight: 500;
	padding-bottom: 55.12px;
	margin-bottom: 42px;
}

h2 {
	font-size: 36px;
	text-align: center;
	padding-bottom: 54px;
	margin-bottom: 40px;
}

h1,
h2 {
	text-transform: uppercase;
	position: relative;
}

h1::before,
h2::before {
	position: absolute;
	content: "";
	width: 170px;
	height: 1px;
	background-color: #EC7979;
	top: 100%;
	left: 50%;
	margin-left: -85px;
}

h1::before {
	background-color: #ffffff;
	left: 0;
	margin-left: 0;
}

.design h2::before {
	background-color: #ffffff;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
}

h4,
span {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

span {
	color: #EC7979;
}

.title-form h4,
span {
	text-transform: uppercase;
}

fieldset {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
	border: none;
}

fieldset input {
	min-height: 38px;
	border: none;
	border-bottom: 1px solid #BDBDBD;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
}

fieldset input::placeholder,
.contact-form textarea::placeholder {
	color: #BDBDBD;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	transform: translateX(-5px) translateY(-10px);
	opacity: 1;
	transition: .3s;
}

fieldset input:focus::placeholder,
.contact-form textarea:focus::placeholder {
	opacity: 0;
}

fieldset input:focus,
.contact-form textarea:focus {
	border-radius: 5px;
	border: 1px solid #BDBDBD;
	outline: none;
}

input[type=submit] {
	color: #FFF;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	background-color: #EC7979;
	padding: 20px 0;
	transition-duration: .3s;
}

input[type=submit]:hover {
	background-color: #AB4949;
}

input[type=submit]:active {
	box-shadow: 0px 0px 10px 0px #AB4949 inset;
	background-color: #EC7979;
}

.btn-download a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 270px;
	height: 58px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FFF;
	transition-duration: .3s;
}

.design .btn-download a{
	width: 370px;
	margin-top: 73px;
}

.features .btn-download a,
.design .btn-download a {
	border: 2px solid #FFF;
}
.features .btn-download a:hover,
.design .btn-download a:hover {
	color: #EC7979;
	border: 2px solid #EC7979;
}
.features .btn-download a:active,
.design .btn-download a:active {
	color: #FFF;
	border: 2px solid #AB4949;
	background: #AB4949;
}

.about .btn-download a {
	background-color: #EC7979;
	border: none;
	margin-top: 27px;
	margin-bottom: 54px;
}

.about .btn-download a:hover {
	background-color: #AB4949;
}

.about .btn-download a:active {
	background-color: #EC7979;
	box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.section-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-title p {
	color: #86878B;
}

header {
	background-color: #000;
	width: 100%;
	position: fixed;
	z-index: 10;
}

.features,
.about,
.pricing,
.reviews,
.contact {
	scroll-margin-top: 75px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	width: 86.8px;
	flex-shrink: 0;
}

.main-nav .logo {
	transform: translateX(-55px);
}

.logo-feaures {
	width: 170px;
}

.logo img {
	width: 100%;
	height: 100%;
}

.site-nav {
	display: flex;
}

.site-nav__item a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	width: 113px;
	padding: 28px 0;
	transition-duration: 0.3s;
}

.site-nav__item a:hover {
	background-color: #EC7979;
}

.site-nav__item a:active {
	background-color: #AB4949;
}

.features {
	background: rgba(0, 0, 0, 0.50);
	background-blend-mode: overlay;
	background-image: url(../img/bg-img-features.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	padding-top: 306px;
	padding-bottom: 185px;
}

.features-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 30px;
}

.features-title {
	display: flex;
	flex-direction: column;
}

.features-title .logo {
	margin-bottom: 72.88px;
}

.features-title p {
	color: #FFF;
	margin-bottom: 42px;
}

.title-form {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	gap: 73px;
	text-align: center;
	position: relative;
	top: -23px;
	background-color: #ffffff;
	border-radius: 10px;
	width: 470px;
	min-height: 450px;
	padding: 29px 50px 0 50px;
}

.title-form input[type=submit] {
	position: absolute;
	bottom: 0;
	left: 0;
	border: none;
	border-radius: 0 0 10px 10px;
	width: 100%;
}

.social-media {
	padding-top: 16px;
	padding-bottom: 18px;
	background-color: #F8EFEF;
}

.social-media__content {
	display: flex;
	align-items: center;
	gap: 30px;
}

.social-media__title {
	display: flex;
	flex-direction: column;
	gap: 31px;
}

.social-media__title p {
	color: #86878B;
}

.social-media__icon {
	display: flex;
	gap: 30px;
}

.copyright-content .social-media__icon {
	gap: 32.8px;
}

.social-media__icon a {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: .8s;
}

.copyright-content .social-media__icon a {
	width: 53.2px;
	height: 53.2px;
}

.copyright-content .social-media__icon svg {
	transform: scale(.858)
}

.about {
	padding-top: 99px;
	padding-bottom: 58px;
}

.tabs-navigation {
	display: flex;
	margin-bottom: -1px;
}

.tabs-navigation__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 203px;
}

.tabs-navigation__item--active {
	border: 1px solid #C6CBCD;
	border-bottom: 0;
	border-radius: 5px 5px 0px 0px;
	background-color: #FFF;
}

.tabs-navigation a {
	width: 70px;
	padding: 10px 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.tabs-content {
	display: flex;
	justify-content: flex-end;
	gap: 30px;
	border: 1px solid #C6CBCD;
	margin-bottom: 104px;
}

.tabs-content__abut-tabs {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 570px;
}

.tabs-content__abut-tabs p {
	flex-grow: 1;
}

.tabs-content__abut-tabs h3 {
	margin-top: 42px;
	margin-bottom: 68px;
}

.tabs-content__img {
	max-width: 470px;
}

.tabs-content__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.awesome-advantages {
	display: flex;
	gap: 30px;
	margin-top: 110px;
}

.awesome-advantages__item {
	width: calc((100% - 60px) / 3);
	text-align: center;
}

.awesome-advantages__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 92px;
	height: 92px;
	border-radius: 50%;
	border: 1px solid #EC7979;
	margin: 0 auto;
	margin-bottom: 73px;
}

.awesome-advantages__icon img {
	width: 75%;
	height: 75%;
	object-fit: contain;
}

.awesome-advantages__item h4 {
	margin-bottom: 41px;
}

.pricing {
	padding-top: 104px;
	padding-bottom: 50px;
	background-color: #F5F5F5;
}

.pricing-card {
	display: flex;
	gap: 30px;
	margin-top: 79px;
}

.pricing-card__item {
	border: 2px solid #F5F5F5;
	width: calc((100% - 60px) / 3);
	transition-duration: .3s;
}

.pricing-card__item:hover {
	position: relative;
	bottom: 20px;
	box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.20);
}

.pricing-card li {
	background-color: #FFF;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 14px;
}

.pricing-card li:not(:last-child) {
	border-bottom: 2px solid #F5F5F5;
}

.pricing-card li:nth-child(1n+1):not(:nth-child(1n+4)) {
	background-color: #333;
	color: #FFF;
}

.pricing .pricing-card li:nth-child(1n+3) {
	color: #86878B;
}

.pricing-card li:nth-child(1) {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	padding-top: 14px;
	padding-bottom: 13px;
}

.pricing-card li:nth-child(2) {
	font-size: 36px;
	font-weight: 700;
	padding: 28px 0;
}

.reviews {
	padding-top: 104px;
	padding-bottom: 64px;
}

.reviews-list {
	display: flex;
	gap: 30px;
	margin-top: 83px;
}

.reviews-list__item {
	width: calc((100% - 60px) / 3);
}

.reviews-list__text {
	background-color: #E2E2E2;
	border-radius: 10px;
	padding: 38px 24px;
	margin-bottom: 66px;
	text-align: center;
	position: relative;
}

.reviews-list__text::before {
	position: absolute;
	content: "";
	left: 70px;
	top: 100%;
	width: 0;
	height: 0;
	border: 15px solid #E2E2E2;
	border-top-color: #E2E2E2;
	border-top-width: 20px;
	border-bottom-width: 0;
	border-left-color: transparent;
	border-right-color: transparent;
	z-index: -1;
}

.reviews-list__text p {
	color: #86878B;
}

.reviews-list__customer {
	display: flex;
	/* align-items: center; */
	gap: 30px;
}

.customer-avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}

.customer-avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.customer-name {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.design,
.contacts {
	padding-top: 104px;
	padding-bottom: 50px;
}

.design h2,
.design p {
	color: #FFF;
}

.design {
	background-color: rgba(0, 0, 0, 0.50);
	background-blend-mode: overlay;
	background-image: url(../img/bg-reviews.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.contact-form {
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
	margin-top: 89px;
}

.contact-form fieldset,
.contact-form textarea {
	width: calc((100% - 30px) / 2);
}

.contact-form textarea {
	border: none;
	border-bottom: 1px solid #BDBDBD;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.contact-form textarea::placeholder {
	transform: translateY(-5px);
}

.contact-form input[type="submit"] {
	width: 370px;
	border: none;
	margin-top: 20px;
}

footer {
	background-color: #000;
	padding-top: 35px;
	padding-bottom: 27px;
}

.copyright-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 27.8px;
}

.copyright-content p {
	color: rgba(255, 255, 255, 0.50);
}

/* !social-media__icon:hover */

.social-media__icon a path {
	transition-duration: .8s;
}

.social-media__icon a:nth-child(1):hover {
	transform: scale(1.5);
}
.social-media__icon a:nth-child(1):hover path {
	fill: #EC7979;
	stroke: #3187b0;
}

.social-media__icon a:nth-child(2):hover {
	transform: rotate(360deg);
}
.social-media__icon a:nth-child(2):hover path {
	fill: #64bc43;
	stroke: #3187b0;
}

.social-media__icon a:nth-child(3):hover {
	transform: skew(10deg, 10deg);
}
.social-media__icon a:nth-child(3):hover path {
	fill: #3187b0;
	stroke: #3187b0;
}

.social-media__icon a:nth-child(4):hover {
	transform: translateY(15px);
}
.social-media__icon a:nth-child(4):hover path {
	fill: #a7318c;
	stroke: #3187b0;
}

.social-media__icon a:nth-child(5):hover {
	transform: rotate(-180deg);
}
.social-media__icon a:nth-child(5):hover path {
	fill: #a13232;
	stroke: #3187b0;
}

.social-media__icon a:nth-child(6):hover {
	transform: translateX(10px) rotate(10deg) translateY(5px);
}
.social-media__icon a:nth-child(6):hover path {
	fill: #d78d1d;
	stroke: #3187b0;
}

.social-media__icon a:nth-child(7):hover {
	transform: translate(-20px, 20px) rotate(30deg) scale(1.2);
}
.social-media__icon a:nth-child(7):hover path {
	fill: #aaaf00;
	stroke: #3187b0;
}

/* !social-media__icon:hover */